# Stage 09 — Homework Starter Notebook

In the lecture, we learned how to create engineered features. Now it’s your turn to apply those ideas to your own project data.

In [2]:
import pandas as pd
import numpy as np

# Example synthetic data (replace with your project dataset)
df = pd.read_csv('small_business_loans.csv')
df.head()

,application_date,business_age,annual_revenue,credit_score,loan_amount,existing_debt,default,industry
0,1/1/2021,4.0,377206,819.0,381072,202043,1,Retail
1,1/2/2021,18.0,1725124,727.0,195609,223420,0,Retail
2,1/3/2021,10.0,1145110,612.0,106774,51358,1,Retail
3,1/4/2021,6.0,429298,735.0,180450,68868,0,Manufacturing
4,1/5/2021,9.0,471050,720.0,359451,55203,0,Other

## TODO: Implement at least 2 engineered features here

In [3]:
# Example template:
df['debt_to_income_ratio'] = df['existing_debt'] / df['annual_revenue']

### Rationale for Feature 1
the debt_to_income ratio measures the percentage of a business's income that is already obligated to paying down existing debt. A high ratio may indicate the business is already highly leveraged. Adding a new loan payment could make them default more likely.

In [4]:
# TODO: Add another feature
df['loan_to_income_ratio'] = df['loan_amount'] / df['annual_revenue']

### Rationale for Feature 2
The loan to income ratio measure the size of requested loan relative to the business income. A high ratio means the business is asking for a loan larger than its entire annual income. And it could be really risky for the business to default.